body {
  font-size: 14px;
  font-family: Verdana, sans-serif;
  background: rgb(60, 78, 179);
  color: white;
  margin: 0;
  position: relative;
}

a {
  color: lightyellow;
}
a:visited {
  color: darkorange;
}

#results {
  display: inline-block;
  position: relative;
  width: 90%;
}
.split_text {
  float: right;
}